
@media (max-width: 576px) {  
    // .header__wrapper {
    //     min-height: 26rem;
    //     .items {
    //         min-height: 26rem; 
    //     } 
    //     .h1 {
    //         font-size: 1.5rem;
    //         span { font-size: 2.5rem; }
    //     }
    // } 
    .header__wrapper {
        .carousel {
            .carousel-control-prev, .carousel-control-next {
                img {
                    width: 1rem;height: auto;
                }
            }
        }
    }

    .page__header { min-height: 11rem;padding: 2rem 0; }
    
      
}